<nav class="navbar navbar-expand-lg text-white bg-primary">
    <div class="container ">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" style="height: 100px;">
        </a>
        <p style="font-weight: bold; margin-right: 40px; ">Sistema de <br>
            Empréstimo <br>
            de Livros</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set pagina_atual = request.url.path %}
        <div class="collapse navbar-collapse" id="menuPrincipal">
            {% if cliente.admin == True -%}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/">Principal</a>
                </li>

                <li  class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/cadastrar_livro">Cadastrar Livro</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/livros">Emprestar</a>
                </li>

                <li  class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/livros">Emprestimos</a>
                </li>
            
                
                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                        Olá, <b>Bibliotecário</b>!
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/dados' }} text-secondary" href="/cliente/dados">Dados Pessoais</a></li>
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/senha' }} text-secondary" href="/cliente/senha">Alterar Senha</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-primary" href="/cliente/sair">Sair</a></li>
                    </ul>
                </li>
                
                <!-- <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/carrinho' }}" href="/cliente/carrinho">
                        <i class="bi bi-cart-fill"></i>
                    </a>
                </li> -->
                
            </ul>
            {%- else: -%}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/">Principal</a>
                </li>

                <li  class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/livros">Livros</a>
                </li>
               
                {% if not cliente or not cliente.nome -%}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/cadastro' }} text-white" href="/cadastro">Quero me cadastrar!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/entrar' }} text-white" href="/entrar">Entrar</a>
                </li>
                

                {%- else: -%}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/entrar' }} text-white" href="/cliente/carrinho">Meus Empréstimos</a>
                </li>
                
                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                        Olá, <b>{{ cliente.nome }}</b>!
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/dados' }} text-primary" href="/cliente/dados">Dados Pessoais</a></li>
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/senha' }} text-primary" href="/cliente/senha">Alterar Senha</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-primary" href="/cliente/sair">Sair</a></li>
                    </ul>
                </li>
                
                <!-- <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/carrinho' }}" href="/cliente/carrinho">
                        <i class="bi bi-cart-fill"></i>
                    </a>
                </li> -->
                {%- endif -%}
            </ul>
            {%- endif -%}
           
          
            <form class="d-flex" role="search" action="/buscar" method="get">
                <input class="form-control me-2" type="search" placeholder="O que deseja buscar?" name="q">
                <button class="btn btn-secondary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>