<footer class="mt-5">
    <div class="container">
        <div class="footer-content">
            <h3>Contate-nos</h3>
            <p>Email: rogercorrente2018@gmail.com<br>magnobrito@gmail.com</p>
            <p>Telefone: <br> (28)99967-2001<br>(28)99926-7032</p>
            <p>Endereço: Rodovia ES-482 Fazenda Morro Grande, ES, 29311-970</p>
        </div>
        <div class="footer-content">
            <h3>Links Rápidos</h3>
            <ul class="list">
                <li><a href="">Home</a></li>
                <li><a href="">Livros</a></li>
                <li><a href="">Empréstimos</a></li>
                <li><a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/sobre">Sobre</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Siga-nos</h3>
            <ul class="social-icons">
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-bar nav-laranja">
        <p>LivroLândia &reg</p>
        <p>Copyright &copy; 2024. Todos os direitos reservados</p>
    </div>
</footer>
